/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* 隐藏滚动条 Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    ._flex_center {
        @apply flex items-center justify-center;
    }

    ._flex_col_center {
        @apply flex flex-col items-center justify-center;
    }

    /* 用于一行key:val */
    ._text {
        @apply flex;
    }

    ._text div:first-child {
        width: 100px;
        @apply shrink-0;
    }

    ._text div:last-child {
        @apply grow;
    }
}

/* css变量：可以通过这里定制化element-ui */
body {
    --van-empty-padding: 10px 0;
}
